*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    display: block;
}

ul,
ol{
    list-style: none;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.big-container{
    max-width: 1920px;
    margin: 0 auto;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.small-container{
    max-width: 1000px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
}

a{
    color: black;
    text-decoration: none;
}

button{
    padding: 7px 17px;
    width: fit-content;
    font-size: 16px;
}

.blue-button{
    background-color: #0061FF;
    color: white;
    border: none;
}

.white-button{
    background-attachment: white;
}

.page-header .row{
    justify-content: space-between;
}

.page-header .col{
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
}

.page-header ul{
    display: flex;
    flex-direction: row;
}

.page-header li{
    padding: 0 20px;
}

.col-4{
    flex-basis: calc((100%/12)*4);
}

.col-6{
    flex-basis: calc((100%/12)*6); 
}

.col-8{
    flex-basis: calc((100%/12)*8);
}

.col-12{
    flex-basis: calc((100%/12)*12);
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B4D0E7;
}

.hero h1{
    font-size: 72px;
    font-weight: 700;
    padding: 50px 0;
}

.hero .col{
    flex-direction: column;
    padding: 10px 0;
}

.hero .col-4{
    justify-content: space-between;
}



.hero i{
    font-size: 50px;
    padding-top: 80px;
}

.plans .title{
    padding: 50px 0;
}

h2{
    font-size: 40px;
    padding-bottom: 50px;
}

.plans .radio{
    padding-right: 35px;
}

.plans .row{
    gap: 50px;
}

.plans .col{
    flex-direction: column;
    line-height: 40px;
}

.plans div[class^="card-"]{
    padding: 0 20px;
    border: 1px solid #E6E6E7;
}

.plans .card-title{
    align-self: center;
}

.plans .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.plans .card-body > div{
    border: none;
    padding: 20px 0;
}

.plan-price{
    font-weight: 700;
}

.plan-price-specs{
    color: #E6E6E7;
}

.plans .card-body_button{
    display: flex;
    align-self: center;
}

.plans a,
.our-costumers a{
    color: blue;
    text-decoration: underline;
}

.plans .card-foot_title{
    font-size: 16px;
    font-weight: 700;
}

.card-body_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#big-card-body{
    border: none;
}

.img-txt .col-4{
    flex-direction: column;
    justify-content: center;
}

.img-txt .col-4>*:not(button){
    padding: 15px 0;
}

.img-txt .row{
    gap: 50px;
}

.img-txt .small-container{
    padding: 100px 0;
}

h3{
    font-size: 24px;
}

.grid-topic .col-4{
    flex-direction: column;
    justify-content: space-between;
    min-height: 500px;
    padding: 20px;
}

.grid-topic .row{
    gap: 50px;
}
.our-costumers .row{
    padding: 200px 0;
}

.our-costumers .row{
    flex-direction: column;
    justify-content: space-around;
}

.our-company .col{
    flex-wrap: wrap;
}

.col-6{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px;
    max-width: 320px;
    aspect-ratio: 1;
}

.col-6 img{
    filter: invert(1);
}

.designit{
    background-color: #A2D39B;
}

.arizona{
    background-color: #61082B;
}

.florida{
    background-color: #0093CE;
}

.topps{
    background-color: #FF1C1C;
}

.bicycle{
    background-color: #D5001F;
}

.hearst{
    background-color: #B4D0E7;
}

.lonely{
    background-color: #0D2481;
}

.clear{
    background-color: #FFD830;
}

.our-company_body img{
    max-width: 300px;
}

.our-company_body>*{
    padding: 30px;
}

.free-trial{
    background-color: #B4D0E7;
}

.free-trial .row{
    justify-content: space-between;
    align-items: baseline;
    padding: 100px 0;
}

.free-trial .white-button{
    border: none;
}

.free-trial h2{
    color: #61082B;
}



/*DEBUG*/

.debug .big-container{
    background-color: green;
    padding: 20px;
}

.debug .small-container{
    background-color: green;
    padding: 20px;
}

.debug .row{
    border: 1px solid red;
    padding: 20px;
}

.debug .col{
    border: 1px solid blue;
    padding: 20px;
}

.debug .col-6{
    border: 1px solid yellow;
    padding: 20px;
}

.debug .hero{
    background-color: aquamarine;
    padding: 20px;
}